{% extends "base.html"%}

{%block title%} Home {%endblock%}

{%block content%}
  <div class="jumbtron">
    
    <p class="lead"> The best place for your links, discover the web with us!</p>
    
    <a class="btn btn-large btn-success" href="/signup">Sign up today</a>
  </div>
  
  <hr/>
  
  <div class="row">
    <div class="span12">
        <p class="lead">Check out what others are discovering with Kippit</p>
        
        {% include "shared_bookmarks_list.html" %}
        
        <p style="text-align:center;"> <a href="/bookmarks/popular/">Popular</a> | 
        <a href="/bookmarks/recent/">Recent</a></p>
        
    </div>
  </div>
  
{%endblock%}
