{% extends "base.html"%}

{%block title%} Home {%endblock%}

{%block content%}
  <div class="jumbtron">
    
    <h1> The best place for your links, discover the web with us!</h1>
    
    <a class="btn btn-large btn-success" href="/signup">Sign up today</a>
  </div>
  
  <hr/>
  
  <div class="row">
    <div class="span12">
        <h1>Check out what others are discovering with Kippit</h1>
        
        <p style="text-align:center;"> <a href="/bookmarks/popular/">Popular</a> | 
        <a href="/bookmarks/recent/">Recent</a></p>
        
    </div>
  </div>
  
{%endblock%}