{%extends "base.html"%}
 {%block title%} {{username}}{%endblock%}
 
 {%block content%}
   <div class="row">
    
    <div class="span12">
        
        {%if bookmarks%}
          {%for bookmark in bookmarks%}
          
          <h4><a href="{{bookmark.link.url}}">{{bookmark.title}}</a></h4>
          <p> added by {{username}} &nbsp; </p>
          
        {%if bookmark.tag_set.all%}
          <p> Tags: {%for tag in bookmark.tag_set.all%}
              <a href="/bookmarks/tags/{{tag.name}}/">{{tag.name}}</a> &nbsp;&nbsp
              {%endfor%}
          </p>
         {%endif%}
         
          <hr style="width:700px;"/>
          
          {%endfor%}
          
        {%else%}
           <p style="color:red;"> User has not yet posted any bookmarks!</p>
           
        {%endif%}
        
        
          
    </div>
    
    
   </div>
   
   <div class="row">
        <div class="span12">
            <p> <a href="/bookmarks/save/">Post another bookmark</a></p>
        </div>
   </div>
    
  {%endblock%}