{%extends "base.html"%}

{%block title%} User Registration {%endblock%}

{%block content%}
  <div class="row">
    <div class="span12">
        <p> Enter your user profile information:</p>
        
        <form action="" method="post">
            {%csrf_token%}
        
        <p><label for="id_username">Username:</label>{{form.username}}</p>
        <p><label for="id_password">Password:</label>{{form.password1}}</p>
        <p><label for="id_password2">Confirm Password:</label>{{form.password2}}</p>
        <p><label for="id_email">Email:</label>{{form.email}}</p>
        
        <input type="submit" value="Register"/>
        
        </form>
        
    </div>
  </div>
  
  {%endblock%}